@{
    ViewBag.Title = "Datos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ludswing Cahuec<br />
    Ingenieria en Sistemas<br />
    Programación VII<br />
    <abbr title="Carnet">P:</abbr>
    140402008
</address>

<address>
    <strong>Comentarios o dudas:</strong>   <a href="mailto:Support@example.com">Ludswingc@gmail.com</a><br />
</address>