@{
    ViewBag.Title = "BanInter";
}

<div class="jumbotron">
    <h1>Banco Internacional S.A.</h1>
    <p class="lead">Atencion al cliente Online</p>
 
</div>

<div class="row">
    <div class="col-md-4">
        @*<h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Generar Consulta</h2>
        <p>Aca puedo realizar el pago de cualquier servicio de forma rapida y segura. (Recuerde Inciar Sesión)</p>
        <p><a class="btn btn-info" href="http://localhost:49256/clientes/create">Generar Transacciòn</a></p>
        <p><a class="btn btn-success" href="http://localhost:49256/clientes">Ver Transacciòn</a> </p>

    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>